@import "tailwindcss";

* {
  font-family: system-ui;
}

nav .active {
  background-color: #372aac;
  padding: 0.5rem;
  border-radius: 0.375rem;
}

@media (max-width: 768px) {
  nav .active {
    width: 100%;
    display: block;
  }
}

