/* dark mode */
.wrapperDark {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #0a0a23, #000000);
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

/* white mode */
.wrapperWhite {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #61abff, #98a8bb);
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    background-repeat: repeat;
    opacity: 0.3;
    animation: moveStars 120s linear infinite;
    background-color: #000000;
}


@keyframes moveStars {
from {
    background-position: 0 0;
}
to {
    background-position: -1000px 1000px;
}
}


.lightning {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    animation: lightningFlash 12s infinite;
    pointer-events: none;
}


@keyframes lightningFlash {
0%, 96%, 100% {
    opacity: 0;
}
97% {
    opacity: 0.15;
}
97.5% {
    opacity: 0;
}
98.5% {
    opacity: 0.3;
}
99% {
    opacity: 0;
}
}
